$primary: #ee3362;
$primary-dark: #ee3362;
$black: #000;
$white: #fff;

$black-100: #141414;
$black-200: #2e2e2e;
$black-500: #545454;
$black-600: #666666;
$black-700: #757575;
$black-900: #999999;

$light-grey: #BFBFBF;

$success: #16bc8a;

$bg-body: #f9fafb;
$bg-header: $white;

$section-divder: #f5f6f7;
$divider: #c4c4c4;

// Border color
$border-light: #f0f0f0;
$otp-input-border: #e9e9e9;

// font weights
$fw-strong-bold: 900;
$fw-bold: 700;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;
$fw-thin: 100;
